/* font */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}

/* Defults */
a {
  text-decoration: none;
  color: black;
}

span {
  color: #ff5400;
  font-weight: 800;
}

.container {
  width: 1170px;
  margin: 100px auto;
}
button {
  color: white;
  border: 0;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  border-radius: 8px;
  background: #ff5400;
  padding: 15px 35px;
}
/* ------------------------------------------------------------------------------------------------------------------- */

/* ===============================
              Header
================================== */
header {
  width: 1170px;
  margin: 52px auto;
}

/* navbar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
nav ul li {
  list-style: none;
}
.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}
.logo h1 {
  font-size: 36px;
  font-weight: 800;
}
.links {
  display: flex;
  align-items: center;
  gap: 44px;
}
.links a {
  font-size: 18px;
  font-weight: 400;
}

/* Banner */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1170px;
  height: 500px;
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("./Images/Group 13 (1) (1).png");
  border-radius: 16px;
}
.banner-wrapper {
  text-align: center;
}
.banner-title {
  text-align: center;
  color: white;
}
.banner-title h2 {
  font-size: 64px;
  font-weight: 800;
  margin-bottom: 24px;
}
.banner-title p {
  width: 676px;
  font-size: 16px;
  font-weight: 400;
  margin: auto;
  margin-bottom: 48px;
}

/* inputs */
.banner-inputs {
  display: inline-flex;
  gap: 24px;
  padding: 16px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
}
#first-input,
#secound-input,
#country {
  color: rgba(19, 19, 24, 0.5);
  border: 0;
  padding: 15px 16px;
  border-radius: 8px;
}

/* ===============================
            Our Popular Tours
================================== */
.our-popular-tours {
  display: flex;
  justify-content: space-between;
}
.popular-tours-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.popular-tours-title h2 {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}
.popular-tours-title ul {
  width: 525px;
  margin-left: 30px;
}
.popular-tours-title ul li {
  color: rgba(19, 19, 24, 0.7);
  margin-bottom: 16px;
}
.popular-tours-title p {
  width: 577px;
  font-size: 16px;
  font-weight: 400;
  color: rgba(19, 19, 24, 0.7);
  margin: 24px 0px;
}
.our-popular-tours button {
  margin-top: 36px;
}

/* ===============================
        Choose-Your-Destination
================================== */
.choose-your-destination-title {
  text-align: center;
}
.choose-your-destination-title p {
  width: 643px;
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  margin: 24px auto;
}
.choose-your-destination-title h2 {
  font-size: 40px;
  font-weight: 800;
}
/* ===============================
        Collage
================================== */

.box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
/* ----- maldives ---- */
.box .img-maldives {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 28px;
  font-weight: 800;
  width: 573px;
  height: 300px;
  background-image: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("<path-to-image>"), url("./Images/Rectangle 5.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
}
/* ----- indonesia ---- */
.box .img-indonesia {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 28px;
  font-weight: 800;
  width: 573px;
  height: 300px;
  background-image: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("<path-to-image>"), url("./Images/Rectangle 8.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
}
/* ----- srilanka ---- */
.box .img-srilanka {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 28px;
  font-weight: 800;
  width: 374px;
  height: 286px;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("./Images/Rectangle 6.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
}
/* -----america ---- */
.box .img-america {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 28px;
  font-weight: 800;
  width: 474px;
  height: 286px;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("./Images/Rectangle 7.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
}
/* -----kashmir ---- */
.box .img-kashmir {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 28px;
  font-weight: 800;
  width: 274px;
  height: 286px;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("./Images/Rectangle 9.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
}
/* -----bangladesh ---- */
.box .img-bangladesh {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 28px;
  font-weight: 800;
  width: 473px;
  height: 300px;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("./Images/Rectangle 11.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
}
/* -----bandarban ---- */
.box .img-bandarban {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 28px;
  font-weight: 800;
  width: 673px;
  height: 300px;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("./Images/Rectangle 10.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
}

/* ===============================
          why-choose-us-
  ================================== */

.why-choose-us-title {
  text-align: center;
}
.why-choose-us-title h2 {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}

.why-choose-us-title p {
  color: rgba(19, 19, 24, 0.7);
  width: 643px;
  margin: 24px auto;
  font-size: 16px;
  font-weight: 400;
}

/* boxes  */
.box-container img{
    margin-top: 32px;
    margin-left: 32px;
}
.box-container h2 {
  font-size: 24px;
  font-weight: 800;
  color: #131318;
  margin-top: 32px;
  margin-left: 32px;
}
.box-container p {
    width: 486px;
    margin-top: 16px;
    margin-left: 32px;
}
.row-1{
    display: flex;
    justify-content: space-between;
}
.box-1 {
  width: 573px;
  height: 284px;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.box-2 {
  width: 573px;
  height: 284px;
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.20);
  background: rgba(41, 206, 246, 0.05);
}
.box-3 {
  width: 573px;
  height: 284px;
  border-radius: 16px;
  margin: 24px auto;
  border: 1px solid rgba(233, 68, 68, 0.20);
  background: rgba(233, 68, 68, 0.05);
}

